<html>
    <head>
        <title>
            dashboard
        </title>
        <style>
            .menu{
                margin-top: -42px;
                margin-left: 17px;
                color: white;
            }
            
        </style>
          <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
         $(document).ready(function(){
        $('.sidenav').sidenav();
        });
    </script>
    </head>
    <body>
        
  <nav> 
    <div class="nav-wrapper container pannel">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Mark X</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/quiz/changepassword" target="mw">change password</a></li>
          <li><a href="/quiz/displayreport" target="mw">view report</a></li>
          <li><a href="/quiz/logout" target="_self">logout</a></li>
        </ul>
      </div>  
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="/images/adminback.jfif">
      </div>
      
      <a href="#name"><span class="white-text name"><%= adminname %></span></a>
      <a href="#email"><span class="white-text email"><%= adminid %></span></a>
    </div></li>
    
    <li><a href="/quiz/addquizques" target="mw">Add Quiz</a></li>
    <li><a href="/quiz/displayques" target="mw">Show all Quiz</a></li>
    
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger">
    <div class="menu">
        <i class="material-icons" >menu</i>
    </div>
  </a>

    <iframe width="100%" height="100%" name="mw" frameborder="0">

    </iframe>

  
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>